<div class="modal-wrapper" id="create">
    <div class="modal-wrapper__inner">
        <div class="modal-head">
            <div class="modal-title">
                Создание счета безналичной оплаты
            </div>
            <div class="close">
                Свернуть
            </div>
        </div>

        <p class="margin-bottom">Клиент 2chesshmao.ru</p>

        <div class="labels-row">

            <label class="label-field">
				<span>Документ основание*</span>
				<div class="label-select">
					<select>
						<option value="Выберите..." disabled selected>Выберите...</option>
						<option value="Выберите...">Договор</option>
						<option value="Выберите...">Договор 2</option>
					</select>
					<svg><use xlink:href="#arrow"></use></svg>
				</div>
			</label>
            <label class="label-field">
				<span>Тип услуги*</span>
				<div class="label-select">
					<select>
						<option value="Выберите..." disabled selected>Выберите...</option>
						<option value="Выберите...">Разработка</option>
						<option value="Выберите...">Разработка 2</option>
					</select>
					<svg><use xlink:href="#arrow"></use></svg>
				</div>
			</label>
        </div>

        <p>Задачи</p>

        <label class="input-check">
            <input type="checkbox">
            <span>Прототипирование 87 000 рублей </span>
        </label>
        <label class="input-check">
            <input type="checkbox">
            <span>Прототипирование 2  87 000 рублей  </span>
        </label>
        <label class="input-check">
            <input type="checkbox">
            <span>разработка 87 000 рублей  </span>
        </label>

        <div class="text-center">
            <button class="btn  btn-big">
                Создать счет
            </button>
        </div>

    </div>
    
</div>