<div class="modal-wrapper" id="delete">
    <div class="modal-wrapper__inner">
        <div class="modal-head">
            <div class="modal-title">
                Удалить счет
            </div>
            <div class="close">
                Свернуть
            </div>
        </div>

        <p class="margin-bottom "><em>Вы уверены, что хотите удалить счет "powerenergysystems.com Август 2025 (Задача 5)"?</em></p>

        <label class="textarea">
            <span class="textarea__label">Укажите причину удаления</span>
            <textarea class="textarea__input" rows="5"></textarea>
        </label>

        <div class="btns-row">
            <button class="btn close btn--light btn-big">
                Нет
            </button>
            <button class="btn  btn-big">
                Удалить
            </button>
        </div>

    </div>
    
</div>