
<div class="modal-wrapper" id="invoicing">
    <div class="modal-wrapper__inner">
        <div class="modal-head">
            <div class="modal-title">
                Создание счета безналичной оплаты
            </div>
            <div class="close">
                Свернуть
            </div>
        </div>

        <p class="margin-bottom">Клиент 2chesshmao.ru</p>
        <label class="label-field">
            <span>Тип счета</span>
            <div class="label-select">
                <select>
                    <option value="Выберите..." disabled selected>Тип счета</option>
                    <option value="Выберите...">Договор</option>
                    <option value="Выберите...">Договор 2</option>
                </select>
                <svg><use xlink:href="#arrow"></use></svg>
            </div>
        </label>

        <label class="label-field">
            <span>Документ основание*</span>
            <div class="label-select">
                <select>
                    <option value="Выберите..." disabled selected>Документ основание</option>
                    <option value="Выберите...">Договор</option>
                    <option value="Выберите...">Договор 2</option>
                </select>
                <svg><use xlink:href="#arrow"></use></svg>
            </div>
        </label>

        <label class="label-field">
            <span>Тип услуги</span>
            <div class="label-select">
                <select>
                    <option value="Выберите..." disabled selected>Тип услуги</option>
                    <option value="Выберите...">Поддержка сайта</option>
                    <option value="Выберите...">Создание сайта</option>
                </select>
                <svg><use xlink:href="#arrow"></use></svg>
            </div>
        </label>

        <label class="text-input details-element__input">
            <span class="text-input__label">Сумма счета</span>
            <input class="text-input__input" type="text" name="total_invoice">
        </label>

        
        <label class="input-check">
            <input type="checkbox">
            <span>разработка 87 000 рублей  </span>
        </label>

        <div class="text-center">
            <button class="btn  btn-big">
                Создать счет
            </button>
        </div>

    </div>
    
</div>