{% include "./app/njk/parts/header.njk" %}
        <section class="summary">
          <div class="container">
            <ul class="summary__sections">
              <li class="summary__section">
                <h2 class="summary__section-title">Общее</h2>
                <ul class="summary__list">
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Адрес сайта:</p>
                      <p class="extended-input__value">
                        <a href="https://lcmg.ru">lcmg.ru
                        </a>
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Юр. лицо:</p>
                      <p class="extended-input__value">ООО «ЛСМБРОКЕР»
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">ИНН:</p>
                      <p class="extended-input__value">7727709459
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">КПП:</p>
                      <p class="extended-input__value">773001001
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Юридический адрес:</p>
                      <p class="extended-input__value">121059, г. Москва, ул. Ростовская
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Почтовый адрес:</p>
                      <p class="extended-input__value">121059, г. Москва, ул. Ростовская
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Договор:</p>
                      <p class="extended-input__value">РУ-32462 от 01 июля 2021 года
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Исполнитель:</p>
                      <p class="extended-input__value">Пиксель Промо
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Обмен документами:</p>
                      <p class="extended-input__value">Почта России
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Документы:</p>
                      <p class="extended-input__value">2/2
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="summary__section">
                <h2 class="summary__section-title">О клиенте</h2>
                <ul class="summary__list">
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Контактное лицо:</p>
                      <p class="extended-input__value">Гусаков Владимир
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Мобильный:</p>
                      <p class="extended-input__value">
                        <a href="tel:89155386952">+79155386952
                        </a>
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">E-mail:</p>
                      <p class="extended-input__value">
                        <a href="mailto:451@lcmg.ru">451@lcmg.ru
                        </a>
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">E-mail (бух):</p>
                      <p class="extended-input__value">
                        <a href="mailto:451@lcmg.ru">451@lcmg.ru
                        </a>
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Отправлять NPS:</p>
                      <p class="extended-input__value">Да
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Отправлять отчет:</p>
                      <p class="extended-input__value">Да
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="summary__section">
                <h2 class="summary__section-title">Данные по проекту</h2>
                <ul class="summary__list">
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Статус:</p>
                      <p class="extended-input__value"><span class='is-accent'>ОК</span>
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Дата старта работ:</p>
                      <p class="extended-input__value">26.11.2021
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Аккаунт-менеджер:</p>
                      <p class="extended-input__value">
                        <select class="extended-input__select" data-slimselect>
                          <option value="e-iliina">Екатерина Ильина</option>
                          <option value="m-petrova">Марина Петрова</option>
                        </select>
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Технический специалист 1:</p>
                      <p class="extended-input__value">Иван Иванов
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-add"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">Поддержка:</p>
                      <p class="extended-input__value">Егор Шарлай (<a href='#'>ЛК</a>)
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">SEO:</p>
                      <p class="extended-input__value">Бобрышев Данил (<a href='#'>ЛК</a>)
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <p class="extended-input__label">SMM:</p>
                      <p class="extended-input__value">Нет
                      </p>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </section>
        <section class="details-tabs">
          <div class="container">
            <ul class="details-tabs__list">
              <li class="details-tabs__item">
                <a class="btn btn--wide btn--light details-tabs__tab" href="index.html">Сводка
                </a>
              </li>
              <li class="details-tabs__item">
                <a class="btn btn--wide btn--light details-tabs__tab" href="settings.html">Настройки
                </a>
              </li>
              <li class="details-tabs__item">
                <a class="btn btn--wide btn--light details-tabs__tab" href="payment.html">Оплата
                </a>
              </li>
              <li class="details-tabs__item"><span class="btn btn--wide details-tabs__tab is-active">Договоры</span>
              </li>
            </ul>
          </div>
        </section>
        <section class="contracts">
          <div class="container">
            <div class="details-element" data-accordion="parent">
              <div class="details-element__block details-element__block--border-bottom is-active" data-accordion="element">
                <div class="details-element__block-header">
                  <h2 class="details-element__block-title">Договоры</h2>
                  <a class="details-element__block-header-link" href="#" download>
                    <svg width="16" height="16" aria-hidden="true">
                      <use xlink:href="./assets/img/sprite.svg#icon-download"></use>
                    </svg><span>Скачать все</span>
                  </a>
                  <button class="btn btn--text-control details-element__block-header-link details-element__block-header-link--ml-auto" type="button" data-accordion="button"><span class="text-close">Свернуть</span><span class="text-open">Развернуть</span>
                  </button>
                  <ul class="details-element__hints">
                    <li class="details-element__hint details-element__hint--important">Требуются оригиналы</li>
                  </ul>
                </div>
                <div class="details-element__block-content" data-accordion="content">
                  <ul class="details-element__document-groups">
                    <li class="details-element__document-group">
                      <h3 class="details-element__document-group-title">Актуальные</h3>
                      <ul class="details-element__grid details-element__grid--size-xl">
                        <li class="details-element__grid-element">
                          <article class="contract-card">
                            <a class="btn btn--icon btn--icon-size-3xl contract-card__big-btn" href="#" download aria-label="Скачать PDF">
                              <svg width="140" height="140" aria-hidden="true">
                                <use xlink:href="./assets/img/sprite.svg#icon-file-pdf"></use>
                              </svg>
                            </a>
                            <div class="contract-card__data">
                              <div class="contract-card__header">
                                <h4 class="contract-card__title">Договор на услуги № РУ-131314-13 от 14 ноября 2023</h4>
                                <ul class="contract-card__pages">
                                  <li class="contract-card__page">
                                    <a class="contract-card__page-link" href="#">1 лист
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <p class="contract-card__status contract-card__status--important">Подписан клиентом</p>
                              <a class="contract-card__file-link" href="#" aria-label="Скачать doc" download>
                                <svg width="24" height="24" aria-hidden="true">
                                  <use xlink:href="./assets/img/sprite.svg#icon-file-doc"></use>
                                </svg><span>Договор на услуги РУ-141123-2 [Пиксель Плюс]— [ООО Фирма «Цветы России»].docx</span>
                              </a>
                            </div>
                          </article>
                        </li>
                        <li class="details-element__grid-element">
                          <article class="contract-card">
                            <a class="btn btn--icon btn--icon-size-3xl contract-card__big-btn" href="#" download aria-label="Скачать PDF">
                              <svg width="140" height="140" aria-hidden="true">
                                <use xlink:href="./assets/img/sprite.svg#icon-file-pdf"></use>
                              </svg>
                            </a>
                            <div class="contract-card__data">
                              <div class="contract-card__header">
                                <h4 class="contract-card__title">Договор на услуги № РУ-131314-13 от 14 ноября 2023</h4>
                                <ul class="contract-card__pages">
                                  <li class="contract-card__page">
                                    <a class="contract-card__page-link" href="#">1 лист
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <p class="contract-card__status contract-card__status--important">Подписан клиентом</p>
                              <a class="contract-card__file-link" href="#" aria-label="Скачать doc" download>
                                <svg width="24" height="24" aria-hidden="true">
                                  <use xlink:href="./assets/img/sprite.svg#icon-file-doc"></use>
                                </svg><span>Договор на услуги РУ-141123-2 [Пиксель Плюс]— [ООО Фирма «Цветы России»].docx</span>
                              </a>
                            </div>
                          </article>
                        </li>
                      </ul>
                    </li>
                    <li class="details-element__document-group">
                      <h3 class="details-element__document-group-title">Архив</h3>
                      <ul class="details-element__grid details-element__grid--size-xl">
                        <li class="details-element__grid-element">
                          <article class="contract-card">
                            <a class="btn btn--icon btn--icon-size-3xl contract-card__big-btn" href="#" download aria-label="Скачать PDF">
                              <svg width="140" height="140" aria-hidden="true">
                                <use xlink:href="./assets/img/sprite.svg#icon-file-pdf"></use>
                              </svg>
                            </a>
                            <div class="contract-card__data">
                              <div class="contract-card__header">
                                <h4 class="contract-card__title">Договор на услуги № РУ-131314-13 от 14 ноября 2023</h4>
                                <ul class="contract-card__pages">
                                  <li class="contract-card__page">
                                    <a class="contract-card__page-link" href="#">1 лист
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <p class="contract-card__status contract-card__status--accent">Получен оригинал</p>
                              <a class="contract-card__file-link" href="#" aria-label="Скачать doc" download>
                                <svg width="24" height="24" aria-hidden="true">
                                  <use xlink:href="./assets/img/sprite.svg#icon-file-doc"></use>
                                </svg><span>Договор на услуги РУ-141123-2 [Пиксель Плюс]— [ООО Фирма «Цветы России»].docx</span>
                              </a>
                            </div>
                          </article>
                        </li>
                        <li class="details-element__grid-element">
                          <article class="contract-card">
                            <a class="btn btn--icon btn--icon-size-3xl contract-card__big-btn" href="#" download aria-label="Скачать PDF">
                              <svg width="140" height="140" aria-hidden="true">
                                <use xlink:href="./assets/img/sprite.svg#icon-file-pdf"></use>
                              </svg>
                            </a>
                            <div class="contract-card__data">
                              <div class="contract-card__header">
                                <h4 class="contract-card__title">Договор на услуги № РУ-131314-13 от 14 ноября 2023</h4>
                                <ul class="contract-card__pages">
                                  <li class="contract-card__page">
                                    <a class="contract-card__page-link" href="#">1 лист
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <p class="contract-card__status contract-card__status--accent">Получен оригинал</p>
                              <a class="contract-card__file-link" href="#" aria-label="Скачать doc" download>
                                <svg width="24" height="24" aria-hidden="true">
                                  <use xlink:href="./assets/img/sprite.svg#icon-file-doc"></use>
                                </svg><span>Договор на услуги РУ-141123-2 [Пиксель Плюс]— [ООО Фирма «Цветы России»].docx</span>
                              </a>
                            </div>
                          </article>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="details-element__block is-active" data-accordion="element">
                <div class="details-element__block-header">
                  <h2 class="details-element__block-title">Акты</h2>
                  <a class="details-element__block-header-link" href="#" download>
                    <svg width="16" height="16" aria-hidden="true">
                      <use xlink:href="./assets/img/sprite.svg#icon-download"></use>
                    </svg><span>Скачать все</span>
                  </a>
                  <button class="btn btn--text-control details-element__block-header-link details-element__block-header-link--ml-auto" type="button" data-accordion="button"><span class="text-close">Свернуть</span><span class="text-open">Развернуть</span>
                  </button>
                  <ul class="details-element__hints">
                    <li class="details-element__hint details-element__hint--important">На подписании у клиента</li>
                  </ul>
                </div>
                <div class="details-element__block-content" data-accordion="content">
                  <ul class="details-element__document-groups">
                    <li class="details-element__document-group">
                      <div class="details-element__document-group-header">
                        <h3 class="details-element__document-group-title">2023</h3>
                        <a class="details-element__block-header-link" href="#" download>
                          <svg width="16" height="16" aria-hidden="true">
                            <use xlink:href="./assets/img/sprite.svg#icon-download"></use>
                          </svg><span>Скачать архив за год</span>
                        </a>
                      </div>
                      <ul class="details-element__grid details-element__grid--size-xl">
                        <li class="details-element__grid-element">
                          <article class="act-card">
                            <h4 class="act-card__title">Август</h4>
                            <p class="act-card__subtitle act-card__subtitle--important">Акт №1595 от 31.08.2023г. на сумму 38 300,00 руб. за август 2023г.</p>
                            <ul class="act-card__control-groups">
                              <li class="act-card__control-group-item">
                                <ul class="act-card__controls">
                                  <li class="act-card__control-item">
                                    <a class="btn btn--icon btn--icon-size-xl" href="#" download aria-label="Скачать DOC">
                                      <svg width="24" height="24" aria-hidden="true">
                                        <use xlink:href="./assets/img/sprite.svg#icon-file-doc"></use>
                                      </svg>
                                    </a>
                                  </li>
                                  <li class="act-card__control-item">
                                    <a class="btn btn--icon btn--icon-size-xl" href="#" download aria-label="Скачать PDF">
                                      <svg width="24" height="24" aria-hidden="true">
                                        <use xlink:href="./assets/img/sprite.svg#icon-file-pdf"></use>
                                      </svg>
                                    </a>
                                  </li>
                                </ul>
                              </li>
                              <li class="act-card__control-group-item">
                                <ul class="act-card__controls">
                                  <li class="act-card__control-item">
                                    <button class="btn btn--icon btn--icon-size-xl btn--no-scale" type="button" aria-label="Редактировать">
                                      <svg width="24" height="24" aria-hidden="true">
                                        <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                                      </svg>
                                    </button>
                                  </li>
                                  <li class="act-card__control-item">
                                    <button class="btn btn--icon btn--icon-size-xl btn--no-scale" type="button" aria-label="Отправить">
                                      <svg width="24" height="24" aria-hidden="true">
                                        <use xlink:href="./assets/img/sprite.svg#icon-message"></use>
                                      </svg>
                                    </button>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </article>
                        </li>
                        <li class="details-element__grid-element">
                          <article class="act-card">
                            <h4 class="act-card__title">Июль</h4>
                            <p class="act-card__subtitle act-card__subtitle--important">Акт №1595 от 31.08.2023г. на сумму 38 300,00 руб. за август 2023г.</p>
                            <ul class="act-card__control-groups">
                              <li class="act-card__control-group-item">
                                <ul class="act-card__controls">
                                  <li class="act-card__control-item">
                                    <a class="btn btn--icon btn--icon-size-xl" href="#" download aria-label="Скачать DOC">
                                      <svg width="24" height="24" aria-hidden="true">
                                        <use xlink:href="./assets/img/sprite.svg#icon-file-doc"></use>
                                      </svg>
                                    </a>
                                  </li>
                                  <li class="act-card__control-item">
                                    <a class="btn btn--icon btn--icon-size-xl" href="#" download aria-label="Скачать PDF">
                                      <svg width="24" height="24" aria-hidden="true">
                                        <use xlink:href="./assets/img/sprite.svg#icon-file-pdf"></use>
                                      </svg>
                                    </a>
                                  </li>
                                </ul>
                              </li>
                              <li class="act-card__control-group-item">
                                <ul class="act-card__controls">
                                  <li class="act-card__control-item">
                                    <button class="btn btn--icon btn--icon-size-xl btn--no-scale" type="button" aria-label="Редактировать">
                                      <svg width="24" height="24" aria-hidden="true">
                                        <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                                      </svg>
                                    </button>
                                  </li>
                                  <li class="act-card__control-item">
                                    <button class="btn btn--icon btn--icon-size-xl btn--no-scale" type="button" aria-label="Отправить">
                                      <svg width="24" height="24" aria-hidden="true">
                                        <use xlink:href="./assets/img/sprite.svg#icon-message"></use>
                                      </svg>
                                    </button>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </article>
                        </li>
                        <li class="details-element__grid-element">
                          <article class="act-card">
                            <h4 class="act-card__title">Апрель</h4>
                            <p class="act-card__subtitle act-card__subtitle--accent">Акт №1595 от 31.08.2023г. на сумму 38 300,00 руб. за август 2023г.</p>
                            <ul class="act-card__control-groups">
                              <li class="act-card__control-group-item">
                                <ul class="act-card__controls">
                                  <li class="act-card__control-item">
                                    <a class="btn btn--icon btn--icon-size-xl" href="#" download aria-label="Скачать DOC">
                                      <svg width="24" height="24" aria-hidden="true">
                                        <use xlink:href="./assets/img/sprite.svg#icon-file-doc"></use>
                                      </svg>
                                    </a>
                                  </li>
                                  <li class="act-card__control-item">
                                    <a class="btn btn--icon btn--icon-size-xl" href="#" download aria-label="Скачать PDF">
                                      <svg width="24" height="24" aria-hidden="true">
                                        <use xlink:href="./assets/img/sprite.svg#icon-file-pdf"></use>
                                      </svg>
                                    </a>
                                  </li>
                                </ul>
                              </li>
                              <li class="act-card__control-group-item">
                                <ul class="act-card__controls">
                                  <li class="act-card__control-item">
                                    <button class="btn btn--icon btn--icon-size-xl btn--no-scale" type="button" aria-label="Редактировать">
                                      <svg width="24" height="24" aria-hidden="true">
                                        <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                                      </svg>
                                    </button>
                                  </li>
                                  <li class="act-card__control-item">
                                    <button class="btn btn--icon btn--icon-size-xl btn--no-scale" type="button" aria-label="Отправить">
                                      <svg width="24" height="24" aria-hidden="true">
                                        <use xlink:href="./assets/img/sprite.svg#icon-message"></use>
                                      </svg>
                                    </button>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </article>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
{% include "./app/njk/parts/footer.njk" %}
