{% set title = "Оплата – Компания «ЛСМБРОКЕР»" %}
{% include "./app/njk/parts/header.njk" %}
        <section class="summary">

          <div class="container">
            <ul class="summary__sections">
              <li class="summary__section">
                <h2 class="summary__section-title">Общее</h2>
                <ul class="summary__list">
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Адрес сайта:</span>
                      
                        <a href="https://lcmg.ru">lcmg.ru
                        </a>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Юр. лицо:</span>
                      ООО «ЛСМБРОКЕР»
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">ИНН:</span>
                      7727709459
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">КПП:</span>
                      773001001
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Юридический адрес:</span>
                      121059, г. Москва, ул. Ростовская
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Почтовый адрес:</span>
                      121059, г. Москва, ул. Ростовская
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Договор:</span>
                      РУ-32462 от 01 июля 2021 года
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Исполнитель:</span>
                      Пиксель Промо
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Обмен документами:</span>
                      Почта России
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Документы:</span>
                      2/2
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="summary__section">
                <h2 class="summary__section-title">О клиенте</h2>
                <ul class="summary__list">
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Контактное лицо:</span>
                      Гусаков Владимир
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Мобильный:</span>
                      
                        <a href="tel:89155386952">+79155386952
                        </a>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">E-mail:</span>
                      
                        <a href="mailto:451@lcmg.ru">451@lcmg.ru
                        </a>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">E-mail (бух):</span>
                      
                        <a href="mailto:451@lcmg.ru">451@lcmg.ru
                        </a>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Отправлять NPS:</span>
                      Да
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Отправлять отчет:</span>
                      Да
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="summary__section">
                <h2 class="summary__section-title">Данные по проекту</h2>
                <ul class="summary__list">
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Статус:</span>
                      <span class='is-accent'>ОК</span>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Дата старта работ:</span>
                      26.11.2021
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Аккаунт-менеджер:</span>
                      
                        <select class="extended-input__select" data-slimselect>
                          <option value="e-iliina">Екатерина Ильина</option>
                          <option value="m-petrova">Марина Петрова</option>
                        </select>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Технический специалист 1:</span>
                      Иван Иванов
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-add"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Поддержка:</span>
                      Егор Шарлай (<a href='#'>ЛК</a>)
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">SEO:</span>
                      Бобрышев Данил (<a href='#'>ЛК</a>)
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">SMM:</span>
                      Нет
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </section>
        <section class="details-tabs">
          <div class="container">
            <ul class="details-tabs__list">
              <li class="details-tabs__item">
                <a class="btn btn--wide btn--light details-tabs__tab" href="index.html">Сводка
                </a>
              </li>
              <li class="details-tabs__item">
                <a class="btn btn--wide btn--light details-tabs__tab" href="settings.html">Настройки
                </a>
              </li>
              <li class="details-tabs__item"><span class="btn btn--wide details-tabs__tab is-active">Оплата</span>
              </li>
              <li class="details-tabs__item">
                <a class="btn btn--wide btn--light details-tabs__tab" href="contracts.html">Договоры
                </a>
              </li>
            </ul>
          </div>
        </section>
        <section class="payment">
          <div class="container">
            <div class="details-element">
              <div class="details-element__block">
                <p class="message message--important">
                  <svg width="16" height="16" aria-hidden="true">
                    <use xlink:href="./assets/img/sprite.svg#icon-attention"></use>
                  </svg> <strong>Внимание:</strong> у Вас есть неоплаченные счета за Ноябрь 2023 (38 300 руб.), Ноябрь 2023 (38 300 руб.)!
                </p>
              </div>
              <div class="details-element__block details-element__block--border-bottom">
                <h2 class="details-element__block-title">Оплата</h2>
                <dl class="details-element__grid details-element__grid--size-sm">
                  <div class="details-element__grid-element details-element__grid-element--dim">
                    <dt class="details-element__key">Дата начала работ:</dt>
                    <dd class="details-element__value">03.05.2023</dd>
                  </div>
                  <div class="details-element__grid-element details-element__grid-element--dim">
                    <dt class="details-element__key">Полных месяцев работы:</dt>
                    <dd class="details-element__value">8 месяцев</dd>
                  </div>
                  <div class="details-element__grid-element details-element__grid-element--dim">
                    <dt class="details-element__key"> Всего счетов:</dt>
                    <dd class="details-element__value">228 750 руб. | 5 шт.</dd>
                  </div>
                  <div class="details-element__grid-element details-element__grid-element--dim">
                    <dt class="details-element__key">Оплачено:</dt>
                    <dd class="details-element__value">152 150 руб. | 3 шт.</dd>
                  </div>
                  <div class="details-element__grid-element details-element__grid-element--dim">
                    <dt class="details-element__key">Задолженность:</dt>
                    <dd class="details-element__value details-element__value--important">76 600 руб. | 2 шт.</dd>
                  </div>
                </dl>
                <div class="details-element__controls">
                  <button class="disabled btn details-element__control details-element__control--mr-auto">Счет на оплату
                  </button>
                  <div class="details-element__control-group">
                    {# <button class="btn btn--light-dim details-element__control" type="button">Запросить счет (письмо)
                    </button> #}
                    <button class="btn btn--light-dim details-element__control" data-modal="invoicing">Выставление счета в 1С
                    </button>
                  </div>
                </div>
              </div>
              <div class="details-element__block details-element__block--border-bottom">
                <ul class="details-element__grid">
                  <li class="details-element__grid-item">
                    <article class="invoice-card">
                      <div class="invoice-card__pic"><a class="invoice-card__pic-link" href="./assets/img/content/invoice.png" data-pswp-width="600" data-pswp-height="682" target="_blank" data-photo-swipe-individual><img class="invoice-card__pic-thumb" src="./assets/img/content/invoice.png" width="300" height="341" alt=""></a>
                        <ul class="invoice-card__bages">
                          <li class="invoice-card__bage">Не оплачено</li>
                        </ul>
                      </div>
                      <div class="invoice-card__data">
                        <ul class="invoice-card__control-groups">
                          <li class="invoice-card__control-group-item">
                            <ul class="invoice-card__controls">
                              <li class="invoice-card__control-item">
                                <a class="btn btn--icon btn--icon-size-xl" href="#" download aria-label="Скачать JPG">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-file-jpg"></use>
                                  </svg>
                                </a>
                              </li>
                              <li class="invoice-card__control-item">
                                <a class="btn btn--icon btn--icon-size-xl" href="#" download aria-label="Скачать PDF">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-file-pdf"></use>
                                  </svg>
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li class="invoice-card__control-group-item">
                            <ul class="invoice-card__controls">
                              <li class="invoice-card__control-item">
                                <button class="btn btn--icon btn--icon-size-xl" type="button" aria-label="Распечатать">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-printer"></use>
                                  </svg>
                                </button>
                              </li>
                              <li class="invoice-card__control-item">
                                <button class="btn btn--icon btn--icon-size-xl" type="button" aria-label="Отправить">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-letter"></use>
                                  </svg>
                                </button>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <h3 class="invoce-card__title">№2513 от 15.11.2023 14:10:42 за Ноябрь 2023</h3>
                        <ul class="invoce-card__data-list">
                          <li class="invoce-card__data-item">
                            <div class="extended-input">
                              <span class="extended-input__label">Сумма:</span>
                              38 000 руб.
                              </p>
                              {# <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                                <svg width="16" height="16" aria-hidden="true">
                                  <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                                </svg>
                              </button> #}
                            </div>
                          </li>
                          <li class="invoce-card__data-item">
                            <div class="extended-input">
                              <span class="extended-input__label">Оплачено:</span>
                              0 руб.
                              </p>
                              {# <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                                <svg width="16" height="16" aria-hidden="true">
                                  <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                                </svg>
                              </button> #}
                            </div>
                          </li>
                          <li class="invoce-card__data-item">
                            <div class="extended-input">
                              <span class="extended-input__label">Долг:</span>
                              <span class='is-important'>38 000 руб.</span>
                              </p>
                              {# <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                                <svg width="16" height="16" aria-hidden="true">
                                  <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                                </svg>
                              </button> #}
                            </div>
                          </li>
                          <li class="invoce-card__data-item">
                            <a class="invoce-card__underlined" href="#">Транзакции
                            </a>
                          </li>
                          {# <li class="invoce-card__data-item">
                            <label class="checkbox-input">
                              <input class="checkbox-input__input" type="checkbox" name="month_is_paid" checked><span class="checkbox-input__label">Месяц оплачен</span>
                            </label>
                          </li> #}
                          <li class="invoce-card__data-item">
                            <a class="invoce-card__important" data-modal="delete">Запрос на удаление
                            </a>
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                  <li class="details-element__grid-item">
                    <article class="invoice-card">
                      <div class="invoice-card__pic"><a class="invoice-card__pic-link" href="./assets/img/content/invoice.png" data-pswp-width="600" data-pswp-height="682" target="_blank" data-photo-swipe-individual><img class="invoice-card__pic-thumb" src="./assets/img/content/invoice.png" width="300" height="341" alt=""></a>
                        <ul class="invoice-card__bages">
                          <li class="invoice-card__bage">Оплачено</li>
                        </ul>
                      </div>
                      <div class="invoice-card__data">
                        <ul class="invoice-card__control-groups">
                          <li class="invoice-card__control-group-item">
                            <ul class="invoice-card__controls">
                              <li class="invoice-card__control-item">
                                <a class="btn btn--icon btn--icon-size-xl" href="#" download aria-label="Скачать JPG">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-file-jpg"></use>
                                  </svg>
                                </a>
                              </li>
                              <li class="invoice-card__control-item">
                                <a class="btn btn--icon btn--icon-size-xl" href="#" download aria-label="Скачать PDF">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-file-pdf"></use>
                                  </svg>
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li class="invoice-card__control-group-item">
                            <ul class="invoice-card__controls">
                              <li class="invoice-card__control-item">
                                <button class="btn btn--icon btn--icon-size-xl" type="button" aria-label="Распечатать">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-printer"></use>
                                  </svg>
                                </button>
                              </li>
                              <li class="invoice-card__control-item">
                                <button class="btn btn--icon btn--icon-size-xl" type="button" aria-label="Отправить">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-letter"></use>
                                  </svg>
                                </button>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <h3 class="invoce-card__title">№2513 от 15.11.2023 14:10:42 за Ноябрь 2023</h3>
                        <ul class="invoce-card__data-list">
                          <li class="invoce-card__data-item">
                            <div class="extended-input">
                              <span class="extended-input__label">Сумма:</span>
                              38 000 руб.
                              </p>
                             
                            </div>
                          </li>
                          <li class="invoce-card__data-item">
                            <div class="extended-input">
                              <span class="extended-input__label">Оплачено:</span>
                              0 руб.
                              </p>
                             
                            </div>
                          </li>
                          <li class="invoce-card__data-item">
                            <div class="extended-input">
                              <span class="extended-input__label">Долг:</span>
                              <span class='is-important'>38 000 руб.</span>
                              </p>
                            
                            </div>
                          </li>
                          <li class="invoce-card__data-item">
                            <a class="invoce-card__underlined" href="#">Транзакции
                            </a>
                          </li>
                          
                          <li class="invoce-card__data-item">
                            <a class="invoce-card__important"  data-modal="delete">Запрос на удаление
                            </a>
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                  <li class="details-element__grid-item">
                    <article class="invoice-card">
                      <div class="invoice-card__pic"><a class="invoice-card__pic-link" href="./assets/img/content/invoice.png" data-pswp-width="600" data-pswp-height="682" target="_blank" data-photo-swipe-individual><img class="invoice-card__pic-thumb" src="./assets/img/content/invoice.png" width="300" height="341" alt=""></a>
                        <ul class="invoice-card__bages">
                          <li class="invoice-card__bage">Не оплачено</li>
                        </ul>
                      </div>
                      <div class="invoice-card__data">
                        <ul class="invoice-card__control-groups">
                          <li class="invoice-card__control-group-item">
                            <ul class="invoice-card__controls">
                              <li class="invoice-card__control-item">
                                <a class="btn btn--icon btn--icon-size-xl" href="#" download aria-label="Скачать JPG">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-file-jpg"></use>
                                  </svg>
                                </a>
                              </li>
                              <li class="invoice-card__control-item">
                                <a class="btn btn--icon btn--icon-size-xl" href="#" download aria-label="Скачать PDF">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-file-pdf"></use>
                                  </svg>
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li class="invoice-card__control-group-item">
                            <ul class="invoice-card__controls">
                              <li class="invoice-card__control-item">
                                <button class="btn btn--icon btn--icon-size-xl" type="button" aria-label="Распечатать">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-printer"></use>
                                  </svg>
                                </button>
                              </li>
                              <li class="invoice-card__control-item">
                                <button class="btn btn--icon btn--icon-size-xl" type="button" aria-label="Отправить">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-letter"></use>
                                  </svg>
                                </button>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <h3 class="invoce-card__title">№2513 от 15.11.2023 14:10:42 за Ноябрь 2023</h3>
                        <ul class="invoce-card__data-list">
                          <li class="invoce-card__data-item">
                            <div class="extended-input">
                              <span class="extended-input__label">Сумма:</span>
                              38 000 руб.
                              </p>
                             
                            </div>
                          </li>
                          <li class="invoce-card__data-item">
                            <div class="extended-input">
                              <span class="extended-input__label">Оплачено:</span>
                              0 руб.
                              </p>
                             
                            </div>
                          </li>
                          <li class="invoce-card__data-item">
                            <div class="extended-input">
                              <span class="extended-input__label">Долг:</span>
                              <span class='is-important'>38 000 руб.</span>
                              </p>
                              
                            </div>
                          </li>
                          <li class="invoce-card__data-item">
                            <a class="invoce-card__underlined" href="#">Транзакции
                            </a>
                          </li>
                        
                          <li class="invoce-card__data-item">
                            <a class="invoce-card__important"  data-modal="delete">Запрос на удаление
                            </a>
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                  <li class="details-element__grid-item">
                    <article class="invoice-card">
                      <div class="invoice-card__pic"><a class="invoice-card__pic-link" href="./assets/img/content/invoice.png" data-pswp-width="600" data-pswp-height="682" target="_blank" data-photo-swipe-individual><img class="invoice-card__pic-thumb" src="./assets/img/content/invoice.png" width="300" height="341" alt=""></a>
                        <ul class="invoice-card__bages">
                          <li class="invoice-card__bage">Не оплачено</li>
                        </ul>
                      </div>
                      <div class="invoice-card__data">
                        <ul class="invoice-card__control-groups">
                          <li class="invoice-card__control-group-item">
                            <ul class="invoice-card__controls">
                              <li class="invoice-card__control-item">
                                <a class="btn btn--icon btn--icon-size-xl" href="#" download aria-label="Скачать JPG">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-file-jpg"></use>
                                  </svg>
                                </a>
                              </li>
                              <li class="invoice-card__control-item">
                                <a class="btn btn--icon btn--icon-size-xl" href="#" download aria-label="Скачать PDF">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-file-pdf"></use>
                                  </svg>
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li class="invoice-card__control-group-item">
                            <ul class="invoice-card__controls">
                              <li class="invoice-card__control-item">
                                <button class="btn btn--icon btn--icon-size-xl" type="button" aria-label="Распечатать">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-printer"></use>
                                  </svg>
                                </button>
                              </li>
                              <li class="invoice-card__control-item">
                                <button class="btn btn--icon btn--icon-size-xl" type="button" aria-label="Отправить">
                                  <svg width="32" height="32" aria-hidden="true">
                                    <use xlink:href="./assets/img/sprite.svg#icon-letter"></use>
                                  </svg>
                                </button>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <h3 class="invoce-card__title">№2513 от 15.11.2023 14:10:42 за Ноябрь 2023</h3>
                        <ul class="invoce-card__data-list">
                          <li class="invoce-card__data-item">
                            <div class="extended-input">
                              <span class="extended-input__label">Сумма:</span>
                              38 000 руб.
                              </p>
                              
                            </div>
                          </li>
                          <li class="invoce-card__data-item">
                            <div class="extended-input">
                              <span class="extended-input__label">Оплачено:</span>
                              0 руб.
                              </p>
                             
                            </div>
                          </li>
                          <li class="invoce-card__data-item">
                            <div class="extended-input">
                              <span class="extended-input__label">Долг:</span>
                              <span class='is-important'>38 000 руб.</span>
                              </p>
                             
                            </div>
                          </li>
                          <li class="invoce-card__data-item">
                            <a class="invoce-card__underlined" href="#">Транзакции
                            </a>
                          </li>
                          
                          <li class="invoce-card__data-item">
                            <a class="invoce-card__important" data-modal="delete">Запрос на удаление
                            </a>
                          </li>
                        </ul>
                      </div>
                    </article>
                  </li>
                </ul>
              </div>
              {# <div class="details-element__block">
                <h2 class="details-element__block-title">Комментарий к выставлению счетов</h2>
                <form class="details-element__form-invoces-info">
                  <label class="textarea"><span class="textarea__label visually-hidden">Комментарий к выставлению счетов</span>
                    <textarea class="textarea__input" placeholder="Текст комментария" rows="5"></textarea>
                  </label>
                  <button class="btn btn--size-sm" type="submit">Сохранить
                  </button>
                </form>
              </div> #}
            </div>
          </div>
        </section>


    {% include "./app/njk/parts/footer.njk" %}
      