{% set title = "Настройки – Компания «ЛСМБРОКЕР»" %}
{% include "./app/njk/parts/header.njk" %}
        <section class="summary">
          <div class="container">
            <ul class="summary__sections">
              <li class="summary__section">
                <h2 class="summary__section-title">Общее</h2>
                <ul class="summary__list">
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Адрес сайта:</span>
                      
                        <a href="https://lcmg.ru">lcmg.ru
                        </a>
                      
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Юр. лицо:</span>
                      ООО «ЛСМБРОКЕР»
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">ИНН:</span>
                      7727709459
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">КПП:</span>
                      773001001
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Юридический адрес:</span>
                      121059, г. Москва, ул. Ростовская
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Почтовый адрес:</span>
                      121059, г. Москва, ул. Ростовская
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Договор:</span>
                      РУ-32462 от 01 июля 2021 года
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Исполнитель:</span>
                      Пиксель Промо
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Обмен документами:</span>
                      Почта России
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Документы:</span>
                      2/2
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="summary__section">
                <h2 class="summary__section-title">О клиенте</h2>
                <ul class="summary__list">
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Контактное лицо:</span>
                      Гусаков Владимир
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Мобильный:</span>
                      
                        <a href="tel:89155386952">+79155386952
                        </a>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">E-mail:</span>
                      
                        <a href="mailto:451@lcmg.ru">451@lcmg.ru
                        </a>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">E-mail (бух):</span>
                      
                        <a href="mailto:451@lcmg.ru">451@lcmg.ru
                        </a>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Отправлять NPS:</span>
                      Да
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Отправлять отчет:</span>
                      Да
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="summary__section">
                <h2 class="summary__section-title">Данные по проекту</h2>
                <ul class="summary__list">
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Статус:</span>
                      <span class='is-accent'>ОК</span>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Дата старта работ:</span>
                      26.11.2021
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Аккаунт-менеджер:</span>
                        <select class="extended-input__select" data-slimselect>
                          <option value="e-iliina">Екатерина Ильина</option>
                          <option value="m-petrova">Марина Петрова</option>
                        </select>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Технический специалист 1:</span>
                      Иван Иванов
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-add"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">Поддержка:</span>
                      Егор Шарлай (<a href='#'>ЛК</a>)
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">SEO:</span>
                      Бобрышев Данил (<a href='#'>ЛК</a>)
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="summary__list-item">
                    <div class="extended-input">
                      <span class="extended-input__label">SMM:</span>
                      Нет
                      <button class="btn btn--icon extended-input__icon" type="button" aria-label="Редактировать">
                        <svg width="16" height="16" aria-hidden="true">
                          <use xlink:href="./assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </section>
        <section class="details-tabs">
          <div class="container">
            <ul class="details-tabs__list">
              <li class="details-tabs__item">
                <a class="btn btn--wide btn--light details-tabs__tab" href="index.html">Сводка
                </a>
              </li>
              <li class="details-tabs__item"><span class="btn btn--wide details-tabs__tab is-active">Настройки</span>
              </li>
              <li class="details-tabs__item">
                <a class="btn btn--wide btn--light details-tabs__tab" href="payment.html">Оплата
                </a>
              </li>
              <li class="details-tabs__item">
                <a class="btn btn--wide btn--light details-tabs__tab" href="contracts.html">Договоры
                </a>
              </li>
            </ul>
          </div>
        </section>
        <section class="settings">
          <div class="container">
            <div class="details-element">
              <div class="details-element__block">
                <p class="message message--important">
                  <svg width="16" height="16" aria-hidden="true">
                    <use xlink:href="./assets/img/sprite.svg#icon-attention"></use>
                  </svg> <strong>Внимание:</strong> у Вас есть неоплаченные счета за Ноябрь 2023 (38 300 руб.), Ноябрь 2023 (38 300 руб.)!
                </p>
              </div>
              <div class="details-element__block">
                <h2 class="details-element__block-title">Настройки пользователя</h2>
                <form class="details-element__form-settings">
                  <div class="details-element__grid">
                    <div class="details-element__grid-element">
                      <label class="text-input details-element__input"><span class="text-input__label">Имя</span>
                        <input class="text-input__input" type="text" name="user_firstname" value="Анна">
                      </label>
                      <label class="text-input details-element__input"><span class="text-input__label">Фамилия</span>
                        <input class="text-input__input" type="text" name="user_surname" value="Ступак">
                      </label>
                      <label class="text-input details-element__input"><span class="text-input__label">Отчество</span>
                        <input class="text-input__input" type="text" name="user_secondname">
                      </label>
                      <label class="text-input details-element__input"><span class="text-input__label">Email</span>
                        <input class="text-input__input" type="email" name="user_email" value="a.stupak@pixelplus.ru" required>
                      </label>
                    </div>
                    <div class="details-element__grid-element">
                      <label class="text-input details-element__input"><span class="text-input__label">Логин</span>
                        <input class="text-input__input" type="text" name="user_login" value="annastupak" required>
                      </label>
                      <label class="text-input details-element__input"><span class="text-input__label">Пароль</span>
                        <input class="text-input__input" type="password" name="user_password" value="qwerty123456" required data-password>
                        <button class="toggle-pass btn btn--icon text-input__btn" type="button" aria-label="Показать пароль">
                          <svg width="16" height="16" aria-hidden="true">
                            <use xlink:href="./assets/img/sprite.svg#icon-eye"></use>
                          </svg>
                        </button>
                      </label>
                      <label class="text-input details-element__input"><span class="text-input__label">Новый пароль</span>
                        <input class="text-input__input" type="password" name="user_new_password" data-password>
                        <button class="toggle-pass btn btn--icon text-input__btn is-hiddden" type="button" aria-label="Показать пароль">
                          <svg width="16" height="16" aria-hidden="true">
                            <use xlink:href="./assets/img/sprite.svg#icon-eye"></use>
                          </svg>
                        </button>
                      </label>
                      <label class="text-input details-element__input"><span class="text-input__label">Подтверждение пароля</span>
                        <input class="text-input__input" type="password" name="user_accept_password" data-password>
                        <button class="toggle-pass btn btn--icon text-input__btn is-hiddden" type="button" aria-label="Показать пароль">
                          <svg width="16" height="16" aria-hidden="true">
                            <use xlink:href="./assets/img/sprite.svg#icon-eye"></use>
                          </svg>
                        </button>
                      </label>
                    </div>
                  </div>
                  <button class="btn btn--size-sm" type="submit">Сохранить
                  </button>
                </form>
              </div>
              <div class="details-element__block">
                <h2 class="details-element__block-title">Доступы по проекту</h2>
                <div class="details-element__grid" id="access-forms">
                  <div class="details-element__grid-element">
                    <h3 class="details-element__grid-element-title">Доступ хостинг</h3>
                    <form class="details-element__form-access">
                      <label class="text-input details-element__input"><span class="text-input__label">URL</span>
                        <input class="text-input__input" type="text" name="domain_url" value="localhost:3000" required>
                      </label>
                      <label class="text-input details-element__input"><span class="text-input__label">Логин</span>
                        <input class="text-input__input" type="text" name="hosting_login" value="info@pixel.ru" required>
                      </label>
                      <label class="text-input details-element__input"><span class="text-input__label">Пароль</span>
                        <input class="text-input__input" type="password" name="hosting_password" value="pixel11" required data-password>
                        <button class="toggle-pass btn btn--icon text-input__btn" type="button" aria-label="Показать пароль">
                          <svg width="16" height="16" aria-hidden="true">
                            <use xlink:href="./assets/img/sprite.svg#icon-eye"></use>
                          </svg>
                        </button>
                      </label>
                      <label class="textarea"><span class="textarea__label">Коммент для дополнительной информации</span>
                        <textarea class="textarea__input" rows="5"></textarea>
                      </label>
                      <button class="btn btn--size-sm" type="submit">Сохранить
                      </button>
                    </form>
                  </div>
                  <div class="details-element__grid-element">
                    <h3 class="details-element__grid-element-title">Доступ сайт</h3>
                    <form class="details-element__form-access">
                      <label class="text-input details-element__input"><span class="text-input__label">URL</span>
                        <input class="text-input__input" type="text" name="domain_url" value="localhost:3000" required>
                      </label>
                      <label class="text-input details-element__input"><span class="text-input__label">Логин</span>
                        <input class="text-input__input" type="text" name="site_login" value="info@pixel.ru" required>
                      </label>
                      <label class="text-input details-element__input"><span class="text-input__label">Пароль</span>
                        <input class="text-input__input" type="password" name="site_password" value="pixel11" required data-password>
                        <button class="btn btn--icon text-input__btn" type="button" aria-label="Показать пароль">
                          <svg width="16" height="16" aria-hidden="true">
                            <use xlink:href="./assets/img/sprite.svg#icon-eye"></use>
                          </svg>
                        </button>
                      </label>
                      <label class="textarea"><span class="textarea__label">Коммент для дополнительной информации</span>
                        <textarea class="textarea__input" rows="5"></textarea>
                      </label>
                      <button class="btn btn--size-sm" type="submit">Сохранить
                      </button>
                    </form>
                  </div>
                  <div class="details-element__grid-element">
                    <h3 class="details-element__grid-element-title">Доступ домен</h3>
                    <form class="details-element__form-access">
                      <label class="text-input details-element__input"><span class="text-input__label">URL</span>
                        <input class="text-input__input" type="text" name="domain_url" value="localhost:3000" required>
                      </label>
                      <label class="text-input details-element__input"><span class="text-input__label">Логин</span>
                        <input class="text-input__input" type="text" name="domain_login" value="info@pixel.ru" required>
                      </label>
                      <label class="text-input details-element__input"><span class="text-input__label">Пароль</span>
                        <input class="text-input__input" type="password" name="domain_password" value="pixel11" required data-password>
                        <button class="btn btn--icon text-input__btn" type="button" aria-label="Показать пароль">
                          <svg width="16" height="16" aria-hidden="true">
                            <use xlink:href="./assets/img/sprite.svg#icon-eye"></use>
                          </svg>
                        </button>
                      </label>
                      <label class="textarea"><span class="textarea__label">Коммент для дополнительной информации</span>
                        <textarea class="textarea__input" rows="5"></textarea>
                      </label>
                      <button class="btn btn--size-sm" type="submit">Сохранить
                      </button>
                    </form>
                  </div>
                  <div class="details-element__grid-element" id="access-button">
                    <button class="btn btn--add-item add-access" type="button"><span>Добавить доступ</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    {% include "./app/njk/parts/footer.njk" %}
